<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th>Description</th>
        <th>Qty</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      <%= render @line_items %>
    </tbody>
  </table>
  <h1>Final amount paid: $ <%=get_final_amount(@line_items) %></h1>


  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
